{# src/SGT/ContentBundle/Resources/views/Content/index.html.twig #}

{% extends "SGTCoreBundle::layout.html.twig" %}

{% block title %}
    Page de modif du contenu - {{ parent() }}
{% endblock %}

{% block body %}
    {{ form(form) }}
    <a href="{{ path('sgt_admin_add_role') }}">Ajouter un role</a>
{% endblock %}