{# src/SGT/AdminBundle/Resources/views/Admin/index.html.twig #}

{% extends "SGTCoreBundle::layout.html.twig" %}

{% block title %}
    Page d'administration - {{ parent() }}
{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ path('fos_user_registration_register') }}">Ajouter un membre</a></li>
        <li><a href="{{ path('sgt_admin_media') }}">Gestion des médias</a></li>
        <li><a href="{{ path('sgt_admin_content') }}">Gérer le contenu du site</a></li>
    </ul>


{% endblock %}