{# src/SGT/CoreBundle/Resources/views/Core/index.html.twig #}

{% extends "SGTCoreBundle::layout.html.twig" %}

{% block title %}
    Page d'accueil - {{ parent() }}
{% endblock %}

{% block body %}

	
{% if messageAccueil.content is defined %}
		<p>{{ messageAccueil.content }}</p>
	{% else %}
		<p>{{ messageAccueil }}</p>
{% endif %}
		

{% endblock %}